{% load static %}
<!DOCTYPE html>
<html>
  <head>

    <title>NASLOV</title>

      <link rel="stylesheet" href="../static/css/template_style.css">
      <link rel="stylesheet" href="../static/css/registracija.css">
      <script src="../static/java/pocetna_stranica.js"></script>




  <div class="header">
    <div class="logo">
      <img src="../static/img/soccer-ball-icon.png" alt="soccer ball icon">
      Treće Poluvreme
    </div>
  </div>

  </head>
  <body style="
         background: url('../static/img/balon1.avif') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  width: 100%;
  height: 100vh;

                 ">

  <div class = "container">
      <form method = "POST" action = {% url "registration_req" %}>
      {% csrf_token %}
        {{ forma.as_p }}
          <button type="submit" onclick="proveriFormu()">Registruj se</button>

      </form>
  </div>


  </body>
  <footer>
    <p>&nbsp</p>
  </footer>
</html>